body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f6f8;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

#error {
    color: red;
    font-size: 12px;
}

@media(max-width: 500px) {
    .container {
        width: 90%;
    }
}